.searching {
    width: 100%;
    .results-title{
        margin-bottom: 20px;
        align-items: center;
        .title{
            font-size: 24px;
            font-weight: 600;
            line-height: 28px;
        }
    }
}