.hotel-searching {
  width: 100%;
  padding: 15px;
  .div-br {
    border-left: 1.5px solid rgba(0, 0, 0, 0.06);
    height: 100%;
  }
  .item-container {
    border-right: 1px solid #d9d9d9;
    color: #1a202c;
    font-size: 16px;
    font-weight: 600;
    .title-wrapper {
      height: 46px;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      border-bottom: 1px solid #f2f2f2;
      .title {
        font-size: 14px;
      }
      .count-date {
        color: #ffffff;
        font-size: 16px;
        border: 1px solid;
        border-radius: 8px;
        padding: 3px;
        background: rgb(24, 144, 255);
      }
    }
    .select-guest {
      // background-color: #ff385c;
      height: 33px;
      justify-content: center;
      transition: all 0.3s ease-out;
      &.actived {
        border-bottom: 2.5px solid #1890ff;
      }
    }

    .btn-search {
      width: 100%;
      height: 100%;
      border: 100;
      border-radius: 8px;
      background-color: #ff385c;
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .date-picker {
      width: 100%;
      font-size: 16px;
      div[class="ant-picker-input"] > input {
        text-align: center;
      }
      div[class="ant-picker-input ant-picker-input-active"] > input {
        text-align: center;
      }
    }
  }
}
:global {
  .ant-popover {
    // background-color: aqua;
    .ant-popover-content {
      width: 247px;
      z-index: 1;
      border-radius: 8px;
      .ant-popover-arrow {
        display: none;
      }
      .ant-popover-inner {
        background: #ffffff;
        border-radius: 8px;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .ant-picker-panels {
      display: flex;
      flex-direction: column;
    }
    .ant-popover {
      // background-color: aqua;
      .ant-popover-content {
        width: 247px;
        z-index: 1;
        border-radius: 8px;
      }
    }
  }
}
