.header-special {
  width: 100%;
  padding: 0;
  position: sticky;
  z-index: 99;
  top: 0;
  .header-container {
    top: 0;
    background-color: #ffffff;
    padding: 0 50px;
    width: 100%;
    z-index: 99;
  }
  .logo {
    display: flex;
    align-items: center;
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: rgba(255, 255, 255, 0.3);
  }
  .nav {
    justify-content: space-between;
  }
  .menu-link {
    background-color: transparent;
    .item-link {
      width: 50%;
    }
  }
  .searching {
    justify-content: center;
    width: 100%;
    background: white;
    padding: 10px;
  }
}
