html,
body {
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-size: 14px;
}

.login-modal {
  background-color: black;
  .ant-modal-header {
    border-bottom: none;
  }
  .ant-modal-footer {
    border-top: none;
  }
}

.ant-notification-notice-content {
  margin-right: 50px;
  .ant-notification-notice-with-icon {
    display: flex;
    align-items: center;
    span.anticon.anticon-close-circle.ant-notification-notice-icon.ant-notification-notice-icon-error {
      line-height: initial;
      font-size: initial;
    }
    .ant-notification-notice-message {
      display: none;
    }
    .ant-notification-notice-description {
      // margin-left: 50px;
      font-size: 12px;
    }
  }
}
.ant-notification-notice-close{
  top:initial;
}
.ant-notification-notice.ant-notification-notice-error.ant-notification-notice-closable {
  width: 300px;
}

.menu-pop-over {
  .ant-popover-inner-content {
    padding: 5px;
  }
}

@media only screen and (max-width: 960px) {
  body {
    scrollbar-width: thin !important;
  }

  body::-webkit-scrollbar,
  body::-webkit-scrollbar-track {
    display: block;
    width: 14px;
  }

  body::-webkit-scrollbar-track {
    background: #e1e2e3;
  }

  body::-webkit-scrollbar-thumb {
    box-shadow: 0 0 0 4px #e1e2e3 inset, 0 0 0 7px #666 inset;
    border-radius: 10px;
    border: none;
  }
}

@media only screen and (max-width: 960px) {
  .withScrollbar * {
    scrollbar-width: thin;
  }

  .withScrollbar *::-webkit-scrollbar,
  .withScrollbar *::-webkit-scrollbar-track {
    display: block;
    width: 14px;
  }

  .withScrollbar *::-webkit-scrollbar-track {
    background: #f0f1f2;
  }

  .withScrollbar *::-webkit-scrollbar-thumb {
    box-shadow: 0 0 0 4px #f0f1f2 inset, 0 0 0 7px #ccc inset;
    border-radius: 10px;
    border: none;
  }
}