.hotel-room {
  width: 100%;
  background-color: white;
  margin-top: 24px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  .images {
    width: 202px;
    z-index: 2;
    position: sticky;
    top: 170px;
    padding: 12px 0;
    flex-direction: row;
    .images-main {
      // padding-top: 24px ;
    }
    .images-member {
      margin-top: 2px;
    }
  }
  .infor {
    width: 100%;
    padding: 12px 0 12px 16px;
    .title {
      overflow: hidden;
      font-size: 18px;
      font-weight: 600;
      line-height: 21px;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-bottom: 10px;
    }
    .detail {
      .detail-item {
        display: flex;
        align-items: center;
        padding-right: 24px;
      }
    }
  }
}
