.hotel-room {
  width: 100%;
  background-color: white;
  margin-bottom: 24px;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  .images {
    width: 202px;
    padding: 12px 0;
    .images-main {
      // padding-top: 24px ;
    }
    .images-member {
      margin-top: 2px;
    }
  }
  .infor {
    width: 100%;
    padding: 12px 0 12px 16px;
    .title {
      display: -webkit-box;
      overflow: hidden;
      font-size: 18px;
      transition: all 0.2s;
      font-weight: 600;
      line-height: 21px;
      margin-bottom: 2px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      white-space: break-spaces;
    }
    .detail {
      margin-top: 10px;
      .detail-item {
        display: flex;
        align-items: center;
        padding: 0 24px;
        border-right: 1px solid #adadad;
      }
    }
    .room-infor {
      border-right: 1px solid #adadad;
    }
    .price {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .price-wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 100%;
        align-items: flex-end;
        .percent-wrapper {
          width: 100%;
          justify-content: flex-end;
          .percent {
            width: 40px;
            border-radius: 5px;
            color: #ffffff;
            text-align: center;
            background: #ff385c;
          }
        }
        .item {
          margin-top: 2px;
          color: rgb(74, 85, 104);
          width: 100%;
          text-align: end;
          font-size: 15px;
          line-height: 17px;
        }
        .button {
          color: rgb(253, 253, 253);
          width: 156px;
          border: none;
          height: 44px;
          margin: 12px 0px 0px;
          padding: 6px 8px;
          font-size: 16px;
          min-height: 20px;
          font-weight: 600;
          border-radius: 8px;
          text-transform: none;
          background-color: #ff3366;
        }
      }
    }
  }
}
