.home {
  width: 100%;
  .home-item {
    margin: 20px auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border-radius: 8px;
    &-mobile {
      justify-content: flex-end;
    }
    .text {
      color: white;
      margin-right: 30px;
      &-mobile {
        margin-right: 0;
      }
    }
    .title-item {
      color: rgb(42, 42, 46);
      padding: 0 5px;
    }
    .button-75 {
      margin-right: 30px;
      &-mobile {
        margin-right: 0;
      }
      align-items: center;
      background-image: linear-gradient(135deg, #f34079 40%, #fc894d);
      border: 0;
      border-radius: 10px;
      box-sizing: border-box;

      cursor: pointer;
      display: flex;
      flex-direction: column;
      font-family: "Codec cold", sans-serif;
      font-size: 16px;
      font-weight: 700;
      height: 54px;
      justify-content: center;
      letter-spacing: 0.4px;
      line-height: 1;
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 3px;
      text-decoration: none;
      text-transform: uppercase;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      .txt-btn {
        color: #fff;
        font-size: 12px;
      }
    }

    .button-75:active {
      outline: 0;
    }

    .button-75:hover {
      outline: 0;
    }

    .button-75 span {
      transition: all 200ms;
    }

    .button-75:hover span {
      transform: scale(0.9);
      opacity: 0.75;
    }

    @media screen and (max-width: 991px) {
      .button-75 {
        font-size: 15px;
        height: 40px;
      }

      .button-75 span {
        line-height: 50px;
      }
    }
  }
  .home-item-hotel {
    align-items: flex-start;
    .hotel-card-list {
      width: 100%;
      overflow-x: auto;
      .hotel-inner-card {
        height: 100%;
        white-space: nowrap;
      }
    }
  }
  .function {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 608px;
    &-1 {
      background-image: url(../../assest//images/function1.jpg);
    }
    &-2 {
      background-image: url(../../assest//images/function2.jpg);
    }
    &-mobile {
      background-size: cover;
      height: 300px;
      &-img-1 {
        background-image: url(../../assest//images/fn-1-mob.jpg);
      }
      &-img-2 {
      }
    }
    .item-container {
      margin: 10px;
    }
  }
}
