.user-infor {
  width: 100%;
  padding: 20px 50px;
  .pwd-block {
    width: 100%;
  }
  .btn-form {
    .btn {
      color: rgb(253, 253, 253);
      width: 100%;
      border: none;
      height: 44px;
      margin: 0px;
      padding: 10px 40px;
      font-size: 16px;
      min-height: 20px;
      font-weight: 600;
      border-radius: 8px;
      text-transform: none;
      background-color: rgb(255, 51, 102);
    }
  }
  .btn-request{
    color: rgb(253, 253, 253);
    width: 50%;
    border: none;
    height: 44px;
    margin: 0px;
    padding: 10px 40px;
    font-size: 16px;
    min-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    text-transform: none;
    background-color: #1890ff;
  }
}
