.payment-infor {
  border: 1px solid #edf2f7;
  border-radius: 8px;
  margin-top: 12px;
  .payment-item {
    width: 100%;
    display: flex;
    background: white;
    margin-bottom: 14px;
    border-radius: 8px;
    padding: 24px;
    .room-img {
      position: relative;
      object-fit: cover;
      border-radius: 8px;
    }
    .coupon {
      top: 24px;
      left: 48px;
      color: #ffffff;
      width: 125px;
      display: flex;
      padding: 5px 10px;
      z-index: 2;
      position: absolute;
      font-size: 18px;
      background: #ff3366;
      align-items: center;
      font-weight: 600;
      line-height: 21px;
      white-space: nowrap;
      border-radius: 8px 0;
      justify-content: center;
    }
    .detail {
      margin-top: 10px;
      .detail-item {
        display: flex;
        align-items: center;
        padding: 0 24px;
        border-right: 1px solid #adadad;
      }
    }
    .title {
      width: 100%;
      margin-top: 10px;
      display: -webkit-box;
      overflow: hidden;
      font-size: 18px;
      transition: all 0.2s;
      font-weight: 600;
      line-height: 21px;
      margin-bottom: 2px;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      white-space: break-spaces;
    }
    .bill-item {
      width: 100%;
      padding: 14px 0 12px;
      position: relative;
      font-weight: 400;
      line-height: 16px;
      border-bottom: 1px solid #edf2f7;
      justify-content: space-between;
      .price-item {
        width: 100%;
        justify-content: flex-end;
        .coupon-value {
          color: #ffffff;
          padding: 1px 3px;
          font-size: 11px;
          background: #ff3366;
          font-weight: 600;
          line-height: 14px;
          border-radius: 4px;
        }
        .price-raw {
          color: #718096;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          margin-left: 6px;
          text-decoration: line-through;
        }
      }
      .total-room-rate {
        margin-top: 10px;
        width: 100%;
        padding-left: 24px;
        justify-content: space-between;
      }
    }
  }
}
