.payment-infor {
  border: 1px solid #edf2f7;
  border-radius: 8px;
  .payment-item {
    width: 100%;
    display: flex;
    background: white;
    margin-bottom: 14px;
    border-radius: 8px;
    padding: 24px;
    margin-top: 12px;
    .bill-item {
      width: 100%;
      padding: 12px 0;
      position: relative;
      font-weight: 400;
      line-height: 16px;
      border-bottom: 1px solid #edf2f7;
      justify-content: space-between;
      .price-item {
        width: 100%;
        justify-content: space-between;
        margin-bottom: 8px;
        .price-mem{
          display: flex;
          justify-content: flex-end;
        }
        .price-text{
          font-weight: 700;
        }
        .coupon-value {
          color: #ffffff;
          padding: 1px 3px;
          font-size: 11px;
          background: #ff3366;
          font-weight: 600;
          line-height: 14px;
          border-radius: 4px;
          margin-right: 5px;
        }
        .price-raw {
          color: #718096;
          font-size: 14px;
          font-weight: 400;
          line-height: 14px;
          margin-left: 6px;
          text-decoration: line-through;
        }
      }
      .total-txt{
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}
