.slick-images {
  height: 300px;
  width: 100%;
  overflow: hidden;
  padding: 24px 24px;
  &-mobile {
    height: 145px;
    padding: 5px;
  }
  border-radius: 8px;
  background-color: white;
  justify-content: center;
  .slider {
    width: 100%;
    height: 50%;
    button[class="slick-arrow slick-prev"] {
      width: 30px;
      height: 30px;
      z-index: 2;
      left: 0;
      transform: translate(-50%, 50%) rotate(180deg);
      background: white;
      border-radius: 100px;
      box-shadow: rgb(0 0 0 / 10%) 0px 8px 12px;

      &:before {
        content: url("../../../assest/icons/right-arrow-16.png");
        color: #000;
        font-size: 30px;
        opacity: 1;
        line-height: unset;
      }
    }
    button[class="slick-arrow slick-next"] {
      width: 30px;
      height: 30px;
      z-index: 2;
      right: 0;
      transform: translate(50%, 50%);
      background: white;
      border-radius: 100px;
      box-shadow: rgb(0 0 0 / 10%) 0px 8px 12px;
      &:before {
        content: url("../../../assest/icons/right-arrow-16.png");
        color: #000;
        font-size: 30px;
        opacity: 1;
        line-height: unset;
      }
    }
    ul[class="slick-dots slick-thumb"] {
      bottom: -105%;
      height: 45px;
      li {
        width: 60px;
      }
    }
    li[class="slick-active"] {
      div {
        background-color: #1890ff !important;
        border-color: #1890ff !important;
      }
    }
  }
}
