.layout {
  height: 100vh ;
  padding: 0 10px;
    .site-layout-content {
      min-height: 280px;
      background: #fff;
      height: 100%;
    }
    .content {
        min-height: calc(100vh - 400px - 395px);
        height: 100vh - 28vh;
    }
    .footer{
      text-align: center;
    }
  }