.header {
  width: 100%;
  height: 400px;
  padding: 0;
  background-image: url('../../../assest/images/home_header.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  justify-content: center;
  .header-container {
    position: fixed;
    top: 0;
    background: transparent;
    padding: 0 50px;
    width: 100%;
    height: 70px;
    z-index: 99;
    &.is-scrolled {
      background-color: #ffffff;
    }
    .logo {
      display: flex;
      align-items: center;
      float: left;
      width: 120px;
      height: 31px;
      margin: 16px 24px 16px 0;
      background: rgba(255, 255, 255, 0.3);
    }
    .nav {
      justify-content: space-between;
    }
    .menu-link {
      background-color: transparent;
      .item-link {
        width: 50%;
      }
    }
  }
  .searching {
    align-items: center;
  }
}
:global {
  .ant-popover {
    // background-color: aqua;
    .ant-popover-content {
      width: 150px;
      z-index: 1;
      background: white;
      border-radius: 8px;
      .ant-popover-inner {
        border-radius: 8px;
      }
    }
  }
}
