.layout {
  // min-height: 100vh;
  height: 100vh;
  .site-layout-content {
    min-height: 280px;
    padding: 24px;
    background: #fff;
  }
  .content{
    padding: 0 50px
  }
  .footer{
    text-align: center;
  }
}
