.headermob {
  background: rgb(255, 255, 255);
  .header {
    height: 48px;
    padding: 0;
    background: transparent;
    .header-container {
      padding: 10px auto;
      align-items: center;
      justify-content: space-between;
      .logo {
        display: flex;
        align-items: center;
      }
      .header-item {
        display: flex;
      }
    }
  }
  .nav-container {
    margin: 20px auto;
    justify-content: space-between;
    width: 100%;
    .nav-item {
      width: 49%;
      color: #1a202c;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 0 10px 12px;
      border: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      .nav-item-container {
        display: flex;
        align-items: center;
        .title {
          font-size: 16px;
          font-weight: 650;
          margin-left: 10px;
          text-transform: capitalize;
        }
      }
    }
  }
  .menu-modal {
    width: 100vw;
    height: 100vh;
  }
}
.ant-row-rtl .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
