.flight-city {
  .header {
    .item-header {
      width: 100%;
      .item {
        height: 50px;
      }
      .btn-close {
        border: 0;
      }
      .input {
        border: 1px solid #ced4da;
      }
    }
  }
}
