.service-class-selection {
  background-color: #ffffff;
  padding: 0 16px 10px 16px;
  width: 100%;
  .item-container {
    width: 100%;
    margin-top: 10px;
    .item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .font {
        width: 100%;
        font-size: 14px;
      }
      .title {
        font-size: 18px;
        font-weight: 600;
      }
      .selected {
        color: aqua;
        fill: aqua;
      }
    }
  }
}
